body {
    font-family: Arial, sans-serif;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwwOhybObYN81dzpXaUbGRdotWNa0OhcWoIw&s') no-repeat center center fixed;
    background-size: cover; /* Faz a imagem cobrir toda a área da tela */
    color: #fff; /* Cor do texto branca */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa a altura total da tela */
}

#quiz-container {
    background-color: #333; /* Cor de fundo cinza escuro para a caixa de perguntas */
    padding: 40px; /* Aumenta o padding interno */
    border-radius: 12px; /* Bordas arredondadas para a caixa de perguntas */
    max-width: 700px; /* Aumenta a largura máxima */
    width: 100%; /* Largura total possível dentro do máximo */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    text-align: center; /* Centraliza o texto e os botões dentro da caixa */
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
}

.question {
    margin-bottom: 50px; /* Aumenta o espaçamento abaixo da pergunta */
    font-size: 28px; /* Aumenta o tamanho da fonte das perguntas */
    font-family: 'Cursive', cursive; /* Fonte cursiva para as perguntas */
}

.question-image {
    max-width: 100%; /* Garante que a imagem não exceda a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    margin-top: 20px; /* Espaço acima da imagem para separá-la do texto da pergunta */
}

#answers-container {
    display: flex;
    flex-direction: column; /* Alinha os botões verticalmente */
    gap: 10px; /* Espaço entre os botões */
}

#answers-container button {
    background-color: #000; /* Cor de fundo preta para os botões */
    color: #fff; /* Cor do texto branca para os botões */
    border: 2px solid #fff; /* Borda branca para os botões */
    border-radius: 12px; /* Bordas arredondadas para os botões */
    padding: 15px 30px; /* Padding nos botões */
    font-size: 18px; /* Tamanho da fonte dos botões */
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

#answers-container button:hover {
    background-color: #444; /* Cor de fundo preta mais clara no hover */
    border-color: #ddd; /* Cor da borda mais clara no hover */
}

.result {
    font-size: 28px; /* Aumenta o tamanho da fonte do resultado */
    font-weight: bold;
    margin-top: 30px; /* Espaço acima do resultado */
}
